#vids {
	position: relative;
	width: 100%;
	height: 110vh;
	background-color: transparent;
	padding-top: 15vh;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.65) 25%,
		rgba(20, 20, 20, 0.3) 50%,
		rgba(0, 0, 0, 0.65) 75%,
		rgba(0, 0, 0, 1) 100%
	);
	video {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		object-fit: cover;
	}
	.swiper {
		height: 100%;
		padding: 20vh 0px;

		.swiper-slide {
			width: 600px;

			.inner {
				width: 100%;
				height: 100%;
				padding: 30px;
				opacity: 0.1;
				transform: scale(0.8);
				transition: opacity 0.5s, transform 0.5s;
				pointer-events: none;

				.pic {
					width: 100%;
					height: 300px;
					overflow: hidden;
					margin-bottom: 20px;
					cursor: pointer;
					border-radius: 8px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				h2 {
					font: bold 30px/1 "Monaco";
					color: #fff;
				}
			}
			&.swiper-slide-active {
				.inner {
					opacity: 1;
					transform: scale(1);
					pointer-events: auto;
				}
			}
		}

		.swiper-pagination {
			bottom: 50px;
			filter: grayscale(1) brightness(4);
			z-index: 5;

			.swiper-pagination-bullet {
				border-radius: 10px;
				transition: 0.5s;
				background: #fff;
				width: 30px;
			}

			.swiper-pagination-bullet-active {
				width: 150px;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			right: 27%;
			top: 45%;
			transform: scale(1);
			filter: grayscale(1) brightness(4);
			z-index: 6;
		}
		.swiper-button-prev {
			left: 27%;
			top: 45%;
		}
	}
}
