@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

table,
th,
td {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

.h {
  position: absolute;
  top: -999999px;
  opacity: 0;
}

footer {
  width: 100%;
  padding: 100px 0;
  background: #000;
}
footer .inner {
  width: 1180px;
  margin: 0 auto;
}
footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
footer .inner h1 {
  font: bold 30px/1 "arial";
  color: #666;
  float: left;
}
footer .inner ul {
  float: right;
}
footer .inner ul li {
  float: left;
  margin-left: 20px;
}
footer .inner ul li a {
  font: bold 18px/1 "arial";
  color: #666;
}
footer .inner address {
  float: left;
  width: 100%;
  font: 18px/1.5 "arial";
  color: #555;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 3px solid #111;
}
footer .inner p {
  float: left;
  width: 100%;
  font: 15px/3 "arial";
  color: #555;
}

@media screen and (max-width: 1179px) {
  footer .inner {
    width: 100%;
    padding: 0px 40px;
  }
  footer .inner h1 {
    position: relative;
    bottom: 10px;
  }
  footer .inner ul {
    position: relative;
    top: 10px;
    right: 15%;
  }
}
.content figure {
  width: 100%;
  height: 300px;
  background: #fff;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}
.content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content > .inner {
  width: 1180px;
  min-height: 400px;
  margin: 100px auto 150px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 1s;
  transition: 0.5s;
}
.content > .inner h1 {
  font: bold 100px/1 "Sans-serif";
  color: #111;
  margin-bottom: 50px;
}
.content > .inner h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #fff;
  margin-top: 20px;
}
.content.on figure {
  opacity: 1;
}
.content.on > .inner {
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 1179px) {
  .content figure {
    height: 200px;
  }
  .content .inner {
    width: 100%;
    margin: 80px auto 120px;
    padding: 0px 40px;
  }
  .content .inner h1 {
    position: relative;
    font: bold 60px/1 "Sans-serif";
    text-align: center;
  }
}
header {
  width: 100%;
  background: #222;
}
header .inner {
  width: 1180px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  position: relative;
  display: inline-block;
  bottom: 10px;
  left: 30px;
}
header .inner h1 a {
  font: bold 24px/1 "arial";
  color: #fff;
}
header .inner h1 img {
  height: 40px;
  margin-left: -40px;
  margin-top: 40px;
}
header .inner h1 p {
  margin-left: 10px;
  margin-top: -38px;
}
header .inner #gnb {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
header .inner #gnb li {
  float: left;
}
header .inner #gnb li a {
  display: inline-block;
  padding: 20px 30px;
  font: bold 14px/1 "arial";
  color: #fff;
}
header .inner .fa-bars {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: none;
  cursor: pointer;
}
header.sub {
  border-bottom: 1px solid #999;
  background: #fff;
}
header.sub .inner h1 a {
  color: #222;
}
header.sub .inner #gnb li a {
  color: #333;
}
header.sub .inner .fa-bars {
  color: #333;
}
header.main {
  background: transparent;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
header.main .inner h1 a {
  color: #fff;
}
header.main .inner #gnb li a {
  color: #fff;
}
header.main .inner .fa-bars {
  color: #fff;
}

@media screen and (max-width: 1179px) {
  header {
    width: 100%;
  }
  header .inner {
    width: 100%;
  }
  header .inner h1 {
    bottom: 10px;
    left: 10%;
  }
  header .inner #gnb {
    display: none;
  }
  header .inner .fa-bars {
    display: block;
  }
}
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.pop .con {
  width: 100%;
  height: 100%;
}
.pop .con iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pop .con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pop .close {
  font: bold 14px/1 "arial";
  color: forestgreen;
  position: absolute;
  top: 40px;
  right: 5vw;
  cursor: pointer;
}

#mobileMenu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  padding: 50px;
  z-index: 1;
}
#mobileMenu h1 {
  width: 100%;
}
#mobileMenu h1 img {
  position: relative;
  width: 40%;
  left: 30%;
}
#mobileMenu ul li a {
  position: relative;
  display: block;
  padding: 40px;
  height: 15px;
  font: bold 30px/50px "arial";
  text-align: center;
  color: #fff;
}
#mobileMenu ul li a:hover {
  text-decoration: underline;
  font: bold 40px/1 "arial";
}

#news {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: black;
  padding: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
  perspective: 600px;
}
#news h1 {
  display: block;
  width: 100%;
  text-align: center;
  font: bold 50px/1 "arial";
  color: #fff;
}
#news h2 {
  display: block;
  width: 100%;
  text-align: center;
  font: normal 25px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
#news article {
  width: 15%;
  height: 250px;
  transform: translateY(100px) rotateY(180deg);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
#news article:nth-of-type(1) {
  transition-delay: 0.2s;
}
#news article:nth-of-type(2) {
  transition-delay: 0.4s;
}
#news article:nth-of-type(3) {
  transition-delay: 0.6s;
}
#news article:nth-of-type(4) {
  transition-delay: 0.8s;
}
#news article:nth-of-type(5) {
  transition-delay: 1s;
}
#news article .inner {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.5;
  transition: 0.5s;
  position: relative;
}
#news article .inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#news article:hover {
  z-index: 2;
}
#news article:hover .inner {
  opacity: 1;
  transform: scale(1.2);
}
#news.on article {
  transform: translateY(0px) rotateY(0deg);
  opacity: 1;
}

@media screen and (max-width: 1179px) {
  #news {
    position: relative;
    height: 100%;
  }
  #news article {
    position: relative;
    width: 100%;
  }
}
#pics {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#pics p {
  font: bold 110px/1 "arial";
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 1;
}
#pics h3 {
  font: bold 100px/1 "arial";
  color: #fff;
  position: absolute;
  top: 250px;
  left: 100px;
  text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#pics #cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 25%, rgba(20, 20, 20, 0) 50%, rgba(0, 0, 0, 0.85) 95%, rgb(0, 0, 0) 100%);
}

#vids {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding-top: 15vh;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 25%, rgba(20, 20, 20, 0.3) 50%, rgba(0, 0, 0, 0.65) 75%, rgb(0, 0, 0) 100%);
}
#vids video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
#vids .swiper {
  padding: 22px;
  width: 60%;
  height: 550px;
}
#vids .swiper .swiper-slide .inner {
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0.08;
  transform: scale(0.8);
  transition: opacity 0.5s;
  transition: 0.5s;
  cursor: pointer;
  filter: grayscale(0.8);
}
#vids .swiper .swiper-slide .inner img {
  border-radius: 5px;
}
#vids .swiper .swiper-slide.swiper-slide-active .inner {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
#vids .swiper .swiper-slide.swiper-slide-active .inner:hover {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: 0.9s;
}
#vids .swiper .popup {
  position: absolute;
}

#visual {
  width: 100%;
  height: 100vh;
  background: #555;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#visual .text {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
#visual .text h1 {
  font-size: 100px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 20px;
}
#visual .text p {
  font: bold 23px/1 "arial";
  line-height: 28px;
  color: #fff;
}
#visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual #cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 95%);
}

@media screen and (max-width: 1179px) {
  #visual .text h1 {
    position: relative;
    right: 6%;
  }
  #visual .text p {
    position: relative;
    right: 6%;
  }
}
.scroll_navi {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -3%;
  z-index: 3;
}
.scroll_navi li {
  display: inline-flex;
  right: 80%;
  width: 100%;
  margin: 18px;
  cursor: pointer;
  transition: 0.5s;
  font: bold 25px/1 "arial";
  color: #fff;
  opacity: 0.5;
}
.scroll_navi li div {
  width: 100%;
  height: 10%;
  margin: 0;
}
.scroll_navi li p {
  position: relative;
  right: 10px;
}
.scroll_navi li.on {
  height: 50px;
  border: #fff;
  font-size: 60px;
  opacity: 1;
}
.scroll_navi li.on div {
  width: 100%;
  height: 33px;
  border-bottom: 4px solid #fff;
}
.scroll_navi li.on p {
  position: relative;
  right: 31px;
}

@media screen and (max-width: 1179px) {
  .scroll_navi li {
    display: none;
  }
}
.Community > .inner {
  width: 80%;
  padding: 3%;
}
.Community > .inner .inputBox {
  width: 100%;
  border: 2px solid #000;
  padding: 50px;
  margin-bottom: 50px;
}
.Community > .inner .inputBox input[type=text],
.Community > .inner .inputBox textarea {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
  resize: none;
  font: bold 15px/1 "arial";
}
.Community > .inner .inputBox .btnSet button {
  position: relative;
  left: -20px;
  width: 200px;
  height: 40px;
  display: inline-block;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  cursor: pointer;
  margin-left: 20px;
}
.Community > .inner .showBox {
  width: 100%;
  border: 2px solid #000;
  padding: 50px;
}
.Community > .inner .showBox article {
  border: 2px solid #000;
  background: #fff;
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.Community > .inner .showBox article .editTxt {
  width: 60%;
}
.Community > .inner .showBox article .editTxt input[type=text],
.Community > .inner .showBox article .editTxt textarea {
  width: 100%;
  margin-top: 20px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background: #ddd;
  resize: none;
}
.Community > .inner .showBox article .btnSet {
  display: flex;
  align-items: center;
}
.Community > .inner .showBox article .btnSet button {
  background: transparent;
  margin: 10px;
  cursor: pointer;
  border: none;
}
.Community > .inner .showBox article .btnSet button:nth-of-type(1) {
  color: orange;
}
.Community > .inner .showBox article .btnSet button:nth-of-type(2) {
  color: orangered;
}

@media screen and (max-width: 1179px) {
  .Community > .inner .inputBox input[type=text],
.Community > .inner .inputBox textarea {
    width: 100%;
  }
  .Community > .inner .inputBox .btnSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Community > .inner .inputBox .btnSet button {
    width: 47%;
    margin-right: 0px;
  }
  .Community > .inner .showBox article .editTxt,
.Community > .inner .showBox article .txt {
    width: 100%;
  }
  .Community > .inner .showBox article .btnSet {
    margin-top: 20px;
  }
  .Community > .inner .showBox article .btnSet button {
    margin-left: 0px;
  }
}
.Department > .inner {
  width: 80%;
  padding: 3%;
}
.Department > .inner::after {
  content: "";
  display: block;
  clear: both;
}
.Department > .inner article {
  position: relative;
  width: 33.333%;
  float: left;
  padding: 10px;
  margin-bottom: 50px;
}
.Department > .inner article .inner {
  width: 300px;
  margin: auto;
}
.Department > .inner article .inner .pic {
  height: 300px;
  margin-bottom: 30px;
  filter: grayscale(1);
}
.Department > .inner article .inner .pic:hover {
  position: relative;
  filter: grayscale(0);
  transform: scale(1.2);
  z-index: 1;
  transition: 0.9s;
}
.Department > .inner article .inner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.Department > .inner article .inner h3 {
  font: bold 35px/1 "arial";
  text-align: center;
}
.Department > .inner article .inner .instagram {
  float: left;
  margin-top: 20px;
  margin-left: 84px;
  width: 100px;
  cursor: pointer;
}
.Department > .inner article .inner .instagram:hover {
  color: rgb(255, 106, 0);
  transition: 0.15s;
}
.Department > .inner article .inner .twitter {
  float: left;
  margin-top: 20px;
  cursor: pointer;
}
.Department > .inner article .inner .twitter:hover {
  color: rgb(0, 217, 255);
  transition: 0.15s;
}

@media screen and (max-width: 1179px) {
  .Department > .inner article {
    width: 50%;
    margin-bottom: 40px;
  }
  .Department > .inner article .inner .pic {
    height: 260px;
  }
  .Department > .inner article .inner .instagramicon {
    position: relative;
    right: 80px;
  }
}
@media screen and (max-width: 539px) {
  .Department > .inner article {
    width: 100%;
    margin-bottom: 50px;
  }
  .Department > .inner article .inner .pic {
    height: 200px;
  }
}
.Gallery .loading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.Gallery .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Gallery .controls nav {
  padding: 10px;
  display: flex;
  gap: 20px;
}
.Gallery .controls nav button {
  border: none;
  width: 150px;
  height: 40px;
  background: #555;
  font: 17px/30px "arial";
  color: #fff;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.Gallery .controls .searchBox {
  padding-right: 15px;
}
.Gallery .controls .searchBox input {
  width: 200px;
  height: 40px;
  background: #fff;
  border: 1px solid #bbb;
  font-size: 15px;
  padding: 20px 13px;
  border-radius: 10px;
}
.Gallery .controls .searchBox button {
  width: 80px;
  height: 40px;
  border: none;
  background: #555;
  font: 17px/26px "arial";
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 10px;
}
.Gallery .frame {
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.5s;
}
.Gallery .frame.on {
  transform: translateY(0px);
  opacity: 1;
}
.Gallery .frame::after {
  content: "";
  display: block;
  clear: both;
}
.Gallery .frame article {
  width: 25%;
  padding: 10px;
  float: left;
}
.Gallery .frame article .inner {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
.Gallery .frame article .inner .pic {
  width: 100%;
  margin-bottom: 5px;
}
.Gallery .frame article .inner .pic img {
  width: 100%;
  border-radius: 10px;
}
.Gallery .frame article .inner h2 {
  font: bold 20px/1.2 "arial";
  color: #000;
  margin-bottom: 30px;
}
.Gallery .frame article .inner .profile {
  display: flex;
  align-items: center;
}
.Gallery .frame article .inner .profile img {
  width: 40px;
  margin-right: 10px;
  border-radius: 10px;
}
.Gallery .frame article .inner .profile span {
  color: orange;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
  word-break: break-all;
}
.Gallery .frame article .inner .profile span:hover {
  color: aqua;
}

@media screen and (max-width: 1179px) {
  section .frame article {
    width: 33.3333%;
  }
}
@media screen and (max-width: 539px) {
  section .frame article {
    width: 100%;
  }
}
.Location figure {
  background: lightblue;
}
.Location #map {
  width: 100%;
  height: 600px;
  border-radius: 12px;
}
.Location .btnSet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 100px;
}
.Location .btnSet button {
  cursor: pointer;
  font: bold 20px/1.5 "arial";
  height: 50px;
  padding: 5px 20px;
  border-radius: 10px;
  background: fff;
  border: 0px;
}
.Location .btnSet ul {
  display: flex;
}
.Location .btnSet ul li {
  height: 50px;
  padding: 10px 30px;
  cursor: pointer;
  font: bold 20px/1.5 "arial";
  margin-left: 30px;
  transition: 0.5s;
  border-radius: 15px;
  background: #cfcfcf;
}
.Location .btnSet ul li.on {
  background: #333;
  color: #fff;
}

.Member figure {
  background: #bbb;
}
.Member > .inner table {
  width: 100%;
}
.Member > .inner table th {
  width: 20%;
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 15px 30px;
  text-align: center;
}
.Member > .inner table th:last-child {
  text-align: center;
}
.Member > .inner table th input[type=reset],
.Member > .inner table th input[type=submit] {
  width: 150px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.Member > .inner table td {
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 15px 50px;
}
.Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
  width: 50%;
  padding: 6px 10px;
  resize: none;
  text-align: center;
}
.Member > .inner table td label {
  margin-right: 6px;
}
.Member > .inner table td input[type=radio],
.Member > .inner table td input[type=checkbox] {
  margin-right: 20px;
}
.Member > .inner table td .err {
  font: 12px/1 "arial";
  color: hotpink;
  margin-left: 10px;
}

@media screen and (max-width: 1179px) {
  .Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
    width: 80%;
  }
  .Member > .inner table td .err {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 539px) {
  .Member > .inner table th {
    display: none;
    padding: 15px 0px;
  }
  .Member > .inner table th:last-child {
    display: block;
    width: 100%;
  }
  .Member > .inner table th input[type=reset],
.Member > .inner table th input[type=submit] {
    width: 48%;
    margin: 0px;
  }
  .Member > .inner table td {
    border-left: none;
    padding: 15px 0px;
  }
  .Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
    width: 100%;
  }
}
.Youtube article {
  border-top: 2px solid #888;
  padding: 25px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Youtube article h3 {
  width: 70%;
  font: bold 30px/1 "work sans";
  color: #000;
}
.Youtube article .txt {
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.Youtube article .txt p {
  font: 20px/1.2 "arial";
  color: #999;
}
.Youtube article .txt span {
  font: 25px/1 "arial";
  color: orange;
}
.Youtube article .pic {
  width: 32%;
  height: 200px;
  background: #000;
  filter: saturate(0);
  transition: 0.5s;
}
.Youtube article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Youtube article .pic:hover {
  filter: saturate(1.2);
}

@media screen and (max-width: 1179px) {
  .Youtube article h3 {
    width: 48%;
  }
  .Youtube article .txt {
    width: 50%;
  }
  .Youtube article .pic {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 539px) {
  .Youtube article h3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .Youtube article .txt {
    width: 100%;
  }
  .Youtube article .pic {
    height: 120px;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
